<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title%></title>
</head>
<body>
    <%- include('header') %>
    <%- include('errors') %>
    <form action="/new" method="post">
        <div class="name-container">
            <label for="username">Enter your name:</label>
            <input id="username" name="username" required/>
        </div>
        <div class="text-container">
            <label for="text">Enter your text:</label>
            <textarea name="text" id="text" cols="20" required></textarea>
        </div>
        <button>Submit</button>
    </form>
</body>
</html>